#map {
  height: 85vh;
  width: 100%;
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
}
body {
  padding-top: 0px;
}

.center {
  width: 75%;
  margin: 0 auto;
  text-align: center !important;
}

.pad {
  padding-top: 1vh;
}

.finalcss {
  padding: 3rem 1.5rem;
  text-align: center;
}

.info { 
  padding: 6px 8px; 
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2); 
  border-radius: 5px;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.image {
max-width: 50%;
max-height: 50%;
}

.navbar, .navbar-brand, .nav-link {
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  opacity: 1;
  text-shadow: 1px 1px 1px #C0C0C0;
  }

.nav-link {
  font-size: large;
}

.navbar-brand {
  font-size: x-large;
}

nav .navbar-nav li a{
  color: white !important;
    }

.navbar.solid {
  background-color: #ffbf00;
  transition: background-color 2s ease 0s;
}

.carousel img{ 
  border-radius: 55px; 
}

.carousel-control {
  background-image:none !important; 
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  bottom: 25vh;
  overflow: hidden !important;
  z-index: 1000;
  border-radius: 0 0 85% 85% / 30%;
}

.hero-image {
  height: 40vh;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: linear-gradient(to bottom right, rgb(247, 202, 0, 0.4), rgb(204, 47, 0, 0.4) ), url('/geog4997/8AAE2359-3443-4147-BC18-FE3D9E612EAC.png') center center no-repeat;
  background-size: cover;
  overflow: hidden !important;
  border-radius: 0 0 85% 85% / 30%;  
}

.hero-image-gal {
  height: 40vh;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: linear-gradient(to bottom right, rgb(9, 232, 224, 0.3), rgb(8, 107, 219, 0.3) ), url('/geog4997/C25B4D29-6379-4637-B012-42565B7D1C6A.jpeg') center center no-repeat;
  background-size: cover;
  overflow: hidden !important;
  border-radius: 0 0 85% 85% / 30%;
}

.hero-image-map {
  height: 40vh;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: linear-gradient(to bottom right, rgb(151, 226, 11, 0.3), rgb(16, 165, 86, 0.3) ), url('/geog4997/FDA48D4B-45AF-4644-9385-CC0193AE0A1D.png') center center no-repeat;
  background-size: cover;
  overflow: hidden !important;
  border-radius: 0 0 85% 85% / 30%;
}

.hero-text {
  margin-top: 10vh;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  font-size: 10vh;
  color: white;
  opacity: 1;
}	


.portfolio-item {
  margin-bottom: 30px;
}

	
*{padding: 0; margin: 0; box-sizing: border-box;}


h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 80px;
	margin-bottom: 30px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}

.button {
  background-color: white;
  border: 2px solid #e7e7e7;
  color: #696969;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 5px 5px 2px #dcdcdc;
  width: 12%;
}

.button:hover {background-color: #;}
