#map {
  height: 85vh;
  width: 100%;
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
}
body {
  padding-top: 0px;

}
.finalcss {
  padding: 3rem 1.5rem;
  text-align: center;
}

.info { 
  padding: 6px 8px; 
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2); 
  border-radius: 5px;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.image {
max-width: 50%;
max-height: 50%;
}

.navbar, .navbar-brand, .nav-link {
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  opacity: 1;
  text-shadow: 1px 1px 1px #C0C0C0;
  }

.nav-link {
  font-size: large;
}

.navbar-brand {
  font-size: x-large;
}

nav .navbar-nav li a{
  color: white !important;
    }

.navbar.solid {
  background-color: #ffbf00;
  transition: background-color 2s ease 0s;
}

.carousel img{ 
  border-radius: 55px; 
}

.carousel-control {
  background-image:none !important; 
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden !important;
  z-index: 1000;
  border-radius: 0 0 85% 85% / 30%;
}

.hero-image {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url('/geog4997/8AAE2359-3443-4147-BC18-FE3D9E612EAC.png');
  background-size: cover;
  overflow: hidden !important;
  border-radius: 0 0 85% 85% / 30%;
}

.portfolio-item {
  margin-bottom: 30px;
}

	
*{padding: 0; margin: 0; box-sizing: border-box;}


h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 80px;
	margin-bottom: 30px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

